CORS_ORIGIN=*
PORT=3000

# MongoDB (Atlas)
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/plivo_demo?retryWrites=true&w=majority&appName=demo
MONGODB_DB=plivo_demo
MONGODB_COLLECTION=messages

# Redis (preferred: single URL)
# REDIS_URL=rediss://default:password@redis-xxxx.redns.redis-cloud.com:12345

# Or provide discrete fields (ioredis)
# REDIS_HOST=redis-xxxx.redns.redis-cloud.com
# REDIS_PORT=12345
# REDIS_USERNAME=default
# REDIS_PASSWORD=yourpassword
# REDIS_TLS=true

MAX_HISTORY=50

